<!--  PARTIAL DE TARJETA DE PRODUCTOS -->

<div class="ladofrente tarjeta-recetas">
    <a href="details/<%= product.id %>">
        <figure class="img-tarjeta-receta">
            <img src="/images/imgProductos/<%= product.image %>" alt="<%= product.name %>">
        </figure>
        <h3 class="tituloscard"><%= product.name %></h3>
        <span class='descripcion_receta descripcion_tarjeta_receta'><%= product.description_short %></span>
    </a>
</div>