<!--  PARTIAL DE TARJETA DE PRODUCTOS -->

<div class="ladofrente tarjeta-recetas">
    <a href="details/<%= product.id %>">
        <figure class="img-tarjeta-receta">
            <img src="/images/<%= product.image %>" alt="<%= product.nombre %>">
        </figure>
        <h3 class="tituloscard"><%= product.nombre %></h3>
        <span class='descripcion_receta descripcion_tarjeta_receta'><%= product.descripcion %></span>
    </a>
</div>