<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Error"}) %>
</head>

<body>

    <!-- LOGO -->
    <!-- MENU CON BOTONES DE REGISTRO -->
    <div class="container-fluid">

        <!-- HEADER -->
        <%- include("partials/header") %>
            <!-- /HEADER -->
            <!--<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>-->