<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
 
        <!-- /HEADER -->

        <!-- Redes Sociales Flotantes-->
        <%-include('partials/redesSociales') %>
    <h1>Los creadores de esta página son:</h1>
    <ul class="contenedor">
        <% for( let user of users) { %>
            <li class="title">
                <%= user.name %> <br> <br>
                <img src="/users-avatar/<%= user.avatar %>" alt="<%= user.name %>" style="width: 48px; border-radius: 50%;"><br> <br>
                <%= user.email %> <br><br>
            </li>
        <% } %>
    </ul>
</body>
</html>