<!DOCTYPE HTML>
<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Nuestros productos"}) %>

</head>

<body>
    <!-- HEADER -->
    <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
    <!-- /HEADER -->

    <!-- Redes Sociales Flotantes-->
    <%-include('partials/redesSociales') %>

    <!-- Sitemap -->
    <!-- <div class="siteMap col-12" style="margin-left: 10%">
                <span>Volver al listado | </span> <a href="/">Home</a> <span> > </span><a href="/product/">Productos</a>
                <span> <br><br>
                </div> -->
    <div class="row rowContainer caja mb-3">
        <!-- MENÚ POR CATEGORÍA -->
        <div class="col-12 col-md-2 products_categories">
            <h3 class="categories_title">Categorías</h3>
            <ul class="categoryList">
                <% for( let i = 0; i < categories.length; i++ ) { %>
                <li class="categories-items">
                    <img src="/images/imgCategory/<%= categories[i].img_category %>">
                    <a href="/product/category/<%= categories[i].id %>" class="categories_names">
                        <%= categories[i].name %> </a>
                </li>
                <% } %>
            </ul>
        </div>


        <div class="container col-12 col-md-10 container-tarjetas-productos mt-5" id="tarjetas">
            <h3 class="col-12 titulo_seccion tituloProd">Nuestros productos</h3>

            <% for (let product of products) { %>
            <!-- Verifico que haya stock y que esté habilitado -->

            <%- include('partials/productCard', {product}) %>

            <% } %>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>
    <!-- /FOOTER -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>