<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Agregar producto"}) %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div class="container-fluid ">

        <!-- HEADER -->
        <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
            <!-- /HEADER -->

            <div class="error">
                <% if (typeof errors != 'undefined') { %>
                    <ul>
                        <% for(let error of errors) { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% } %>
                    </ul>

                    <% } %>
            </div>
            <!-- Admin product -->
            <div class="row  carga_producto pb-5 justify-content-around">
                <h2 class="col-12 row justify-content-center  pageTitle">Carga de Productos</h2>

                <!-- COLUMNA 1 - LISTADO DE PRODUCTOS  -->
                <div class=" left-column col-sm-5  col-md-8 col-lg-3">
                    <div class="selectorProductos">
                        <div class="listaProductos col-12">
                            <table id="tablaProductos">
                                <tr class="header">
                                    <th class="thCodigo">Código</th>
                                    <th class="thProducto">Producto</th>
                                    <th class="thPrecio">Precio</th>
                                </tr>
                                <% products.forEach(producto => { %>
                                    <tr class="filaProducto">
                                        <td class="tdId">
                                            <%= producto.id %>
                                        </td>
                                        <td class="tdCodigo">
                                            <%= producto.codigo %>
                                        </td>
                                        <td class="tdNombre">
                                            <%= producto.nombre %>
                                        </td>
                                        <td class="tdPrecio">
                                            <%= producto.precio %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                        </div>
                        <div class="form-group col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" id="buscarLabel"> <i class="fas fa-search"></i>  </label>
                                </div>
                                <input type="text" class="form-control text-left" id="searchInput" onkeyup="buscar()" placeholder="Filtrar...">
                            </div>
                        </div>
                        <div class="col-12 row form-group justify-content-around">
                            <button id="btnNuevo" class="col-3 blanco align-items-center justify-content-center" role="button" type="button" onclick="crear()">Nuevo</button>
                            <button id="btnBorrar" class="col-3  align-items-center justify-content-center" role="button" type="button" data-toggle="modal" data-target="#modalBorrar">Borrar</button>
                            <button id="btnEditar" class="col-3 btn align-items-center justify-content-center" type="button" role="button" onclick="editar()">Editar</button>
                        </div>

                        <!-- Modal de confirmación de borrado de producto-->
                        <div class="modal modalBorraProducto fade" id="modalBorrar" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title d-inline-block">Confirmación</h2>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>¿Seguro quiere borrar el producto?</p>
                                    </div>
                                    <div class="modal-footer text-center justify-content-center">
                                        <button id="btnConfCancelar" type="button" class="btn blanco btn-secondary col-3" data-dismiss="modal">Cancelar</button>
                                        <form class="col-3" id="borrarForm" method="POST">
                                            <input name="id" id="idProducto" style="display: none;">
                                            <button id="btnConfBorrar" type="button" value="" class="btn btn-primary" onclick="borrar()">Borrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9 iframeDetailsContainer">

                    <iframe id="iframeDetails" class="container-fluid" src="/product/adminShow/1" frameborder="0" onload='resizeIframe(this)'></iframe>
                </div>

            </div>
            <!-- /Upload product -->

            <!-- FOOTER -->
            <%- include("partials/footer") %>
                <!-- /FOOTER -->

    </div>
    <!-- Fin DIV Container-->

    <script type='text/javascript'>
        var editando = false;

        function buscar() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaProductos");
            tr = table.getElementsByTagName("tr");

            // Revisa por todas las filas y esconde las que no cumplen con la búsqueda
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function borrar() {
            document.getElementById("idProducto").value = productID;
            document.getElementById("borrarForm").action = "/product/admin?_method=DELETE"
            document.getElementById("borrarForm").submit();
        }

        function editar() {
            bloquearProducto();
            var iframe = document.getElementById('iframeDetails');
            iframe.src = `/product/adminEdit/${productID}`;
        }

        function crear() {
            bloquearProducto();
            var iframe = document.getElementById('iframeDetails');
            iframe.src = `/product/adminEdit/0`;
        }

        function bloquearProducto() {
            editando = true;
            var btnNuevo = document.getElementById('btnNuevo');
            btnNuevo.style.display = 'none';
            var btnBorrar = document.getElementById('btnBorrar');
            btnBorrar.style.display = 'none';
            var btnEditar = document.getElementById('btnEditar');
            btnEditar.style.display = 'none';
            var searchInput = document.getElementById('searchInput');
            searchInput.disabled = true;
        }

        function resizeIframe(obj) {
            obj.style.height = 0;
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>

    <script>
        $("#tablaProductos tr").click(function() {
            if (!editando) {
                $(this).addClass('selected').siblings().removeClass('selected');
                var value = $(this).find('td:first').html();
                productID = value.trim()
                var iframe = document.getElementById('iframeDetails');
                iframe.src = `/product/adminShow/${productID}`;
            }

        });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>