<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head", {title: product.name}) %>
</head>

<body>
    <!-- HEADER -->
    <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
    <!-- /HEADER -->

    <!-- Redes Sociales Flotantes-->
    <%-include('partials/redesSociales') %>

    <!-- Details products -->
    <article class="container container-details">
        <div class="row box-product-details">

            <!-- Sitemap -->
            <div class="siteMap col-12 mb-1">
                <span>Volver al listado | </span> <a href="/">Home</a> <span> > </span><a
                    href="/product/">Productos</a><span> </span><a class="categoryDetail"
                    href="/product/category/<%= product.id_category %>"><span> > </span> <%= product.categories.name %>
                </a><span> <span> > </span> <span> <strong class="productNameSM"><%= product.name %></strong> </span>
                    <br><br>
            </div>

            <figure class="col-12 col-lg-6 imagen-detalles">
                <img src="/images/imgProductos/<%= product.image %>" alt=" <%= product.name %>">
            </figure>

            <div class="col-12 col-lg-6">
                <div class="description-wrapper-details">
                    <section class="col-12 product-details">
                        <div class="short-description-detalles">

                            <h3 class="titulo_producto mb-2">
                                <%= product.name %>
                            </h3>
                            <p class="descripcion_producto_detalles">
                                <%= product.description %>
                            </p>
                            <p class="cantidad descripcion_producto_detalles"> <strong> <%= product.quantity %>
                                    <%= product.unit %> </strong> </p>
                        </div>
                        <form action="" class="forumlario_compra-detalles mb-4">

                            <div class="row precio_producto-detalles">

                                <% if (product.discount > 0) { %>

                                <div class="col-6 col-lg-12 precio-descuento">
                                    <span class="div-precio-descuento">
                                        <span class="tachado">$<%= product.price %></span>
                                        <span class="discount"> / <%= product.discount %>% OFF</span>
                                    </span>
                                    <h3 class="precio_detalles">
                                        $
                                        <%= product.price - (product.price / 100 * product.discount) %>
                                    </h3>
                                </div>

                                <% } else { %>

                                <h3 class="col-6 col-lg-12 precio_detalles sindescuento">$
                                    <%= product.price %>
                                </h3>

                                <% } %>


                                <div class="col-6 col-lg-12 box-quantity-detalles">

                                    <div class="quantity-selector-text"> Cantidad: </div>

                                    <input type="number" name="cantidad" id="" class="quantity-selector-detalles"
                                        min="1" max="<%= product.stock %>" maxlength="<%= product.stock %>" value="1">

                                    <!-- <option class="active">1 unidad</option>
                                        <option class="option">2 unidades</option>
                                        <option class="option">3 unidades</option>
                                        <option class="option">4 unidades</option>
                                        <option class="option">5 unidades</option>
                                    </select>
                                    <input > -->

                                </div>
                            </div>

                            <div class="vip-actions-wrapper  vip-actions-wrapper--cart-item botones-detalles">
                                <div class="vip-actions item-actions u-clearfix">
                                    <div class="row vip-action-primary-details">

                                        <input type="submit" data-js="vip-action-primary" form="productInfo"
                                            title="curcuma" value="Comprar ahora"
                                            class="col-12 col-md-5 col-lg-4 primary ui-button ui-button--primary  vip-narrow-button"
                                            onclick="window.location='/product/cart'">

                                        <input type="submit" data-js="vip-action-cart" form="productInfo"
                                            title="curcuma" value="Agregar al carrito"
                                            class="col-12 col-md-5 col-lg-4 secondary ui-button ui-button--secondary"
                                            onclick="window.location='/#'">

                                    </div>
                                </div>
                            </div>
                        </form>

                    </section>
                </div>
            </div>
        </div>
    </article>
    <!-- /Details products -->

    <!-- PRODUCTOS RELALCIONADOS -->
    <div class="container relProdContainer">
        <div class="row">

            <div class="col-12 col-md-4 relProd">
                <a href="">
                    <div class="container relProdWrapp">
                        <div class="row">
                            <figure class="col-6 relProdImg">
                                <img src="/images/imgProductos/<%= product.image %>" style="width: 100%;" alt="">
                            </figure>
                            <div class="col-6 contentProdRel">
                                <h5 class="prodRelName"><%= product.name %></h5>
                                <p class="prodRelCategory"><%= product.categories.name %></p>
                                <p>$<%= product.price %></p>
                            </div>
                            <!-- <div class="col-12">
                                <p><%= product.description_short %> </p>
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-12 col-md-4 relProd">
                <a href="">
                    <div class="container relProdWrapp">
                        <div class="row">
                            <figure class="col-6 relProdImg">
                                <img src="/images/imgProductos/<%= product.image %>" style="width: 100%;" alt="">
                            </figure>
                            <div class="col-6 contentProdRel">
                                <h5 class="prodRelName"><%= product.name %></h5>
                                <p class="prodRelCategory"><%= product.categories.name %></p>
                                <p>$<%= product.price %></p>
                            </div>
                            <!-- <div class="col-12">
                                <p><%= product.description_short %> </p>
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-12 col-md-4 relProd">
                <a href="">
                    <div class="container relProdWrapp">
                        <div class="row">
                            <figure class="col-6 relProdImg">
                                <img src="/images/imgProductos/<%= product.image %>" style="width: 100%;" alt="">
                            </figure>
                            <div class="col-6 contentProdRel">
                                <h5 class="prodRelName"><%= product.name %></h5>
                                <p class="prodRelCategory"><%= product.categories.name %></p>
                                <p>$<%= product.price %></p>
                            </div>
                            <!-- <div class="col-12">
                                <p><%= product.description_short %> </p>
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            
            
            
        </div>
    </div>
    <!-- /PRODUCTOS RELALCIONADOS -->




    <!-- FOOTER -->
    <%- include("partials/footer") %>
    <!-- /FOOTER -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- /Scripts -->
    </div>
</body>

</html>