<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Agregar producto"}) %>
        <link rel="stylesheet" href="../../stylesheets/productAdd.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>


    <div class="container-fluid">

        <!-- HEADER -->
        <%- include("partials/header") %>
            <!-- /HEADER -->

            <!-- Upload product -->
            <div class="container-fluid align-content-around carga_producto pb-5">
                <h2>Administración de Productos</h2>
                <br>
                <form>
                    <div class="row">
                        <!-- COLUMNA 1 - LISTADO DE PRODUCTOS  -->
                        <div class="container left-column col-11 col-md-6 col-lg-3 d-block">
                            <div class="selectorProductos">
                                <div class="listaProductos col-12">
                                    <table id="tablaProductos">
                                        <tr class="header">
                                            <th class="thCodigo">Código</th>
                                            <th class="thProducto">Producto</th>
                                            <th class="thPrecio">Precio</th>
                                        </tr>
                                        <% products.forEach(producto => { %>
                                            <tr>
                                                <td style="display: none;">
                                                    <%= producto.id %>
                                                </td>
                                                <td>
                                                    <%= producto.codigo %>
                                                </td>
                                                <td>
                                                    <%= producto.nombre %>
                                                </td>
                                                <td>
                                                    <%= producto.precio %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </table>
                                </div>
                                <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar productos..."> -->
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Filtro</span>
                                        </div>
                                        <input type="text" class="form-control text-left" id="myInput" onkeyup="buscar()" placeholder="Buscar...">
                                    </div>
                                </div>
                                <div class="col-12 row form-group justify-content-around">
                                    <button class="col-3 blanco align-items-center justify-content-center" role="button" type="button" onclick="crearNuevo()">Nuevo</button>
                                    <button class="col-3  align-items-center justify-content-center" role="button" type="button" data-toggle="modal" data-target="#exampleModalCenter">Borrar</button>
                                    <button id="btnEditar" class="col-3 btn align-items-center justify-content-center" type="button" role="button" onclick="editar()">Editar</button>
                                </div>


                                <!-- Modal de confirmación de borrado de producto-->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title" id="exampleModalLongTitle">Confirmación</h2>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Seguro quiere borrar el producto?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="container justify-content-center">
                                                    <button type="button" class="btn blanco btn-secondary col-4" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-primary col-4" onclick="borrarPoducto()">Borrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-9 container-fluid">
                            <iframe style="height:480px; pointer-events:none;" id="iframeDetails" class="col-12" src="/product/addShow/1" frameborder="0"></iframe>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /Upload product -->

            <!-- FOOTER -->
            <%- include("partials/footer") %>
                <!-- /FOOTER -->

    </div>
    <!-- Fin DIV Container-->

    <script type='text/javascript'>
        var productID = '1';

        function buscar() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaProductos");
            tr = table.getElementsByTagName("tr");

            // Revisa por todas las filas y esconde las que no cumplen con la búsqueda
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }




        function editar() {
            var iframe = document.getElementById('iframeDetails');
            iframe.setAttribute("style", "height:480px; pointer-events:all;");
            iframe.src = `/product/addEdit/${productID}`;

        }


        function crearNuevo() {
            var iframe = document.getElementById('iframeDetails');
            iframe.setAttribute("style", "height:480px; pointer-events:all;");
            iframe.src = `/product/addEdit/nuevo`;

        }
    </script>

    <script>
        $("#tablaProductos tr").click(function() {
            $(this).addClass('selected').siblings().removeClass('selected');
            var value = $(this).find('td:first').html();
            productID = value.trim()
            var iframe = document.getElementById('iframeDetails');

            iframe.src = `/product/addShow/${productID}`;

        });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>