<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Profile"}) %>
</head>
<body>
       <!-- HEADER -->
       <%- include("partials/header") %>
       <!-- /HEADER -->
<!-- MENU SIDEBAR -->
<div class="d-flex flex-column">

      <div class="profile">
        <img src="/site/public/images/profile.svg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#"><%= user.name%></a></h1>
        
      </div>

      <nav class="nav-menu">
        <ul>
          <li><a href="#"><i class="bx bx-user"></i> <span>Editar Perfil</span></a></li>
          <li class="active"><a href="#"><i class="bx bx-home"></i> <span>Historial de compras</span></a></li>
          <li><a href="#"><i class="bx bx-file-blank"></i> <span>Favoritos</span></a></li>
          <li><a href="#"><i class="bx bx-book-content"></i> Recetarios</a></li>

        </ul>
      </nav>
      <!-- .nav-menu -->

<div class="m-5">
    
           <h1>Bienvenido, <%= user.name%></h1>
</div>
<script>
       $(document).ready(function(){
  $("#menu-toggle").click(function(e){
    e.preventDefault();
    $("#wrapper").toggleClass("menuDisplayed");
  });
});
</script>

       <!-- FOOTER -->
       <%- include("partials/footer") %>
       <!-- /FOOTER -->

        <!-- SCRIPTS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>