<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head", {title: "Profile"}) %>

</head>

<body>
    <!-- HEADER -->
    <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
        <!-- /HEADER -->
        <div class="container-fluid d-flex" id="">

            <!-- Sidebar -->
            <div class="bg-light border-right col-2" id="">
                <!-- DATOS USUARIO-->
                <img src="/users-avatar/<%= user.avatar %>" alt="Imagen de usuario" class="img-fluid rounded-circle d-flex mx-auto userProfileImage mt-3" style="width: 80px;">
                <div class="sidebar-heading">
                    <h4>Bienvenido,
                        <%= user.name%>
                    </h4>
                </div>

                <!-- MENU LATERAL -->
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Editar perfil</a>
                    <a href="#historial" class="list-group-item list-group-item-action bg-light">Historial de compras</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Favoritos</a>
                    <a href="#recetarios" class="list-group-item list-group-item-action bg-light">Recetarios</a>

                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div class="col" id="page-content-wrapper">
                <!-- --- --- -- -- -- Historial de compras --- --- -- -- -- -->
                <h5 id="historial" class="col-12 d-flex justify-content-center TituloDestacados mb-2">Historial de compras</h5>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Numero de Orden</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">001</th>
                                <td>Cúrcuma en polvo x 100g</td>
                                <td>20/06/2020</td>
                                <td>$200</td>
                            </tr>
                            <tr>
                                <th scope="row">003</th>
                                <td>Cacao x 100g</td>
                                <td>25/06/2020</td>
                                <td>$300</td>
                            </tr>
                            <tr>
                                <th scope="row">002</th>
                                <td>Stevia </td>
                                <td>20/06/2020</td>
                                <td>$100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 id="recetarios" class="col-12 d-flex justify-content-center TituloDestacados mb-2">Recetarios</h5>

                <div class="" id="tarjetas">

                    <div class="ladofrente">
                        <img src="/images/alimentos-saludables.jpg" alt="Alimentos saludables">
                        <h3 class="tituloscard">Come alimentos variados</h3>
                        <span class='tipsaludable'>Necesitamos más de 40 nutrientes diferentes y ningún alimento por sí solo puede proporcionarlos todos. El suministro de alimentos que existe hoy en día facilita tomar una amplia variedad de alimentos, tanto comprando alimentos frescos como comprando comidas preparadas.</span>

                    </div>

                    <div class="ladofrente">
                        <img src="/images/platosaludable.jpg" alt="Alimentos saludables">
                        <h3 class="tituloscard">Alimentos ricos en hidratos de carbono</h3>
                        <span class='tipsaludable'>Más de la mitad de las calorías de su dieta, es decir el 60 % aproximadamente, deben venir de estos alimentos. Lo ideal es aumentar la ingesta de fibra con el aporte de pan integral, la pasta integrales y otros cereales.</span>
                    </div>

                    <div class="ladofrente">
                        <img src="/images/frutassaludables.jpg" alt="Alimentos saludables">
                        <h3 class="tituloscard">Come muchas frutas y verduras</h3>
                        <span class='tipsaludable'>La mayor parte de la gente no come la suficiente cantidad de estos alimentos que proporcionan importantes nutrientes protectores. Intenta comer al menos cinco raciones al día y proba nuevas recetas o vea qué platos preparados están disponibles en el supermercado.</span>
                    </div>
                </div>

                <h5 id="favoritos" class="col-12 d-flex justify-content-center TituloDestacados mb-2">Productos favoritos</h5>
            </div>


        </div>
        <!-- FOOTER -->
        <%- include("partials/footer") %>
            <!-- /FOOTER -->

            <!-- SCRIPTS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>