<!DOCTYPE HTML>
<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Recetas"}) %>

</head>

<body>

    <!-- HEADER -->
    <%- include("partials/header", {usuarioLogueado: usuarioLogueado}) %>
        <!-- /HEADER -->

        <!-- Redes Sociales Flotantes-->
        <%-include('partials/redesSociales') %>

            <!-- CONTENEDOR DE TARJETAS DE RECETAS -->
            <div class="caja mb-3">
                <div class="container container-tarjetas-recetas " id="tarjetas">
                    <h3 class="col-12 titulo_seccion mt-5">Recetas que inspiran</h3>

                    <% for( let receta of recetas) { %>
                        <%- include("partials/tarjetaReceta", {receta}) %>
                            <% } %>
                </div>
            </div>

            <!-- FOOTER -->
            <%- include("partials/footer") %>
                <!-- /FOOTER -->
                <script type='text/javascript' src="/js/cart.js">
                </script>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
                </script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
                </script>
                <script type='text/javascript' src="/js/userValidator.js"></script>
</body>

</html>