<!DOCTYPE HTML>
<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Recetas"}) %>

</head>

<body>

    <!-- HEADER -->
    <%- include("partials/header") %>
    <!-- /HEADER -->
    
     
    <div class="container container-tarjetas-recetas " id="tarjetas">
        <div class="siteMap col-12" style="margin-left: 10%">
            <span>Volver al listado  | </span> <a href="/">Home</a> <span> > </span><a href="/recetas/">Recetas</a> <span> <br><br>
         </div>
        
        <% if (receta.dieta !== "vegana" && receta.dieta !== "vegetariana") { %>

            <h3 class="col-12 titulo_seccion">Recetas <%= receta.dieta %>  </h3>

            <% }else { %>

            <h3 class="col-12 titulo_seccion">Recetas <%= receta.dieta %>s </h3>
            <% } %>

        <% for( let receta of dietas) { %>


            <%- include("partials/tarjetaReceta", {receta}) %>

        <% } %>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>
    <!-- /FOOTER -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>